#root, html,
body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

html,
body {
  background-color: #F6F4F3;
}

.no-scroll {
  overflow: hidden;
}

.show {
  display: block;
}

.no-show {
  display: none;
}

.fill {
  height: 100vh;
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
  flex-direction: column;
}
@media (min-width: 540px) {
  .fill {
    margin-top: 4rem;
  }
}
@media (min-width: 720px) {
  .fill {
    margin-top: 8rem;
  }
}

p {
  font-family: "proxima-nova", sans-serif;
  color: rgba(41, 31, 30, 0.6);
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "congenial", sans-serif;
  color: #291F1E;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.2rem;
}

b {
  font-weight: 700;
}

.gutters {
  box-sizing: border-box;
  padding: 0 25px;
  transition: padding 0.25s 0.1s ease-out;
}
@media (min-width: 660px) {
  .gutters {
    padding: 0 60px;
  }
}
@media (min-width: 900px) {
  .gutters {
    padding: 0 90px;
  }
}

.container {
  width: 100%;
}
.container.sm {
  max-width: 540px;
}
.container.md {
  max-width: 720px;
}
.container.lg {
  max-width: 1024px;
}

.row {
  display: flex;
}
.row.c {
  flex-direction: column;
}
.row.r {
  flex-direction: row;
}
.row.rev {
  flex-direction: row-reverse;
}
.row.climb {
  flex-direction: column-reverse;
}
.row.start {
  justify-content: flex-start;
}
.row.center {
  justify-content: center;
}
.row.end {
  justify-content: flex-end;
}
.row.top {
  align-items: flex-start;
}
.row.mid {
  align-items: center;
}
.row.bot {
  align-items: flex-end;
}

.col.start {
  justify-self: flex-start;
}
.col.center {
  justify-self: center;
}
.col.end {
  justify-self: flex-end;
}
.col.top {
  align-self: flex-start;
}
.col.mid {
  align-self: center;
}
.col.bot {
  align-self: flex-end;
}
.col.g1 {
  flex-grow: 1;
}
.col.g2 {
  flex-grow: 2;
}
.col.g3 {
  flex-grow: 3;
}
.col.g4 {
  flex-grow: 4;
}
.col.g5 {
  flex-grow: 5;
}
.col.g6 {
  flex-grow: 6;
}
.col.s1 {
  flex-shrink: 1;
}
.col.s2 {
  flex-shrink: 2;
}
.col.s3 {
  flex-shrink: 3;
}
.col.s4 {
  flex-shrink: 4;
}
.col.s5 {
  flex-shrink: 5;
}
.col.s6 {
  flex-shrink: 6;
}

button.standard {
  text-transform: capitalize;
  padding: 1rem;
  color: #FFFFFF;
  font-family: "congenial", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.12rem;
  font-weight: 700;
  border-radius: 3px;
  margin: 1rem 0;
  width: 100%;
  transition: background-color 0.2s ease-out;
}
button.standard.good {
  background-color: #4CC865;
}
button.standard.bad {
  background-color: #E13936;
}
button.standard.warn {
  background-color: #F2AE40;
}
button.standard.info {
  background-color: #42979E;
}
button.standard:hover.good {
  background-color: #37A142;
}
button.standard:hover.bad {
  background-color: #D33422;
}
button.standard:hover.warn {
  background-color: #EF9D1A;
}
button.standard:hover.info {
  background-color: #306D73;
}
button.standard:active.good {
  background-color: #73D486;
}
button.standard:active.bad {
  background-color: #E56E61;
}
button.standard:active.warn {
  background-color: #FFB338;
}
button.standard:active.info {
  background-color: #6FBCC3;
}

.nav {
  position: fixed;
  top: 0px;
  opacity: 0;
  margin-top: -3rem;
  width: 100%;
  color: #291F1E;
  display: flex;
  justify-content: flex-start;
  z-index: 99;
  transition: margin-top 0.25s 0.1s ease-out, opacity 0.25s 0.1s ease-out, background-color 0.25s 0.1s ease-out, box-shadow 0.25s 0.1s ease-out;
}
.nav.bg {
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 720px) {
  .nav.bg {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(41, 31, 30, 0.05);
  }
}
.nav.show {
  margin-top: 0;
  opacity: 1;
}
.nav.gutters {
  padding: 0;
}
@media (min-width: 660px) {
  .nav.gutters {
    padding: 0 60px;
  }
}
@media (min-width: 900px) {
  .nav.gutters {
    padding: 0 90px;
  }
}
.nav .title {
  display: block;
  position: fixed;
  top: 3rem;
  left: 6rem;
  z-index: 20;
}
.nav .title .link {
  margin: 10px;
}
@media (min-width: 720px) {
  .nav .title {
    position: inherit;
    top: 0;
    left: 0;
  }
}
.nav .title, .nav .link {
  font-family: "congenial", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.nav .title.opened, .nav .link.opened {
  color: #FFFFFF;
}
.nav .ham, .nav .overlay {
  position: fixed;
  box-sizing: border-box;
  padding: 1rem;
  top: 2rem;
  left: 2rem;
  width: 60px;
  height: 60px;
  display: block;
}
@media (min-width: 720px) {
  .nav .ham, .nav .overlay {
    display: none;
  }
}
.nav .ham {
  z-index: 15;
}
.nav .overlay {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  transition: width 0.3s, height 0.2s, margin-top 0.2s, margin-left 0.2s;
}
.nav .overlay.opened {
  background-color: rgba(41, 31, 30, 0.98);
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  margin-top: -2rem;
  margin-left: -2rem;
}
.nav .links {
  display: none;
}
.nav .links .link {
  margin: 10px;
}
.nav .links.opened {
  display: block;
  position: fixed;
  top: 20vh;
  left: 1rem;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.nav .links.opened div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav .links.opened div .link {
  margin: 2rem;
  align-items: stretch;
  color: #F6F4F3;
}
.nav .link {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav .link a {
  color: inherit;
  text-decoration: none;
  border-width: 0;
  transition: color 0.2s ease-out;
}
.nav .link a:visited, .nav .link a:active, .nav .link a:focus {
  color: inherit;
}
.nav .link a:hover {
  color: #CA9F66;
}
.nav .link a:active {
  color: #42979E;
}
@media (min-width: 720px) {
  .nav .links {
    justify-content: flex-end;
    display: flex;
  }
  .nav .title {
    display: block;
  }
}

.hero {
  padding: 0;
  border-radius: 8px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 3rem;
  background-color: transparent;
  box-shadow: 1px 3px 8px rgba(41, 31, 30, 0.05);
  transition: margin-bottom 0.25s 0.1s ease-out, height 0.25s 0.1s ease-out;
}
.hero:first-child {
  margin-top: 15rem;
}
.hero.blue .sec {
  background-color: #6FBCC3;
}
.hero.red .sec {
  background-color: #E56E61;
}
.hero.gold .sec {
  background-color: #FFB338;
}
.hero.green .sec {
  background-color: #73D486;
}
.hero .sec {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  min-height: 200px;
  padding: 2rem;
}
.hero .sec object {
  width: 100%;
  opacity: 0.8;
  mix-blend-mode: multiply;
}
.hero.rev {
  flex-direction: column;
}
.hero.rev .pop {
  padding: 0;
}
.hero .pop {
  box-sizing: border-box;
  flex: 1;
  padding: 0;
}
.hero .box {
  min-height: 100%;
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: none;
  border-radius: 0 0 8px 8px;
  transition: height 0.25s 0.1s ease-out, padding 0.25s 0.1s ease-out;
}
@media (min-width: 720px) {
  .hero {
    margin-bottom: 6rem;
    flex-direction: row;
  }
  .hero .sec {
    flex: 3;
    border-radius: 8px 0 0 8px;
  }
  .hero .pop {
    flex: 4;
  }
  .hero.rev {
    flex-direction: row-reverse;
  }
  .hero.rev .sec {
    border-radius: 0 8px 8px 0;
  }
  .hero.rev .box {
    border-radius: 8px 0 0 8px;
  }
  .hero .box {
    border-radius: 0 8px 8px 0;
    padding: 4rem;
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 10rem;
    padding: 25px;
    flex-direction: row;
    box-shadow: none;
  }
  .hero.blue {
    background-color: #6FBCC3;
  }
  .hero.red {
    background-color: #E56E61;
  }
  .hero.gold {
    background-color: #FFB338;
  }
  .hero.green {
    background-color: #73D486;
  }
  .hero .sec {
    flex: 5;
  }
  .hero .pop {
    flex: 3;
    padding-right: 7%;
  }
  .hero .box {
    margin-top: -4rem;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(41, 31, 30, 0.1);
    padding: 4rem;
    min-height: auto;
  }
  .hero.rev {
    flex-direction: row-reverse;
  }
  .hero.rev .pop {
    padding-right: 0;
    padding-left: 7%;
  }
  .hero.rev .box {
    border-radius: 8px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .hero .sec {
    flex: 4;
  }
  .hero .sec svg {
    max-width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
