:root {
  --pri-c: #759EB8;
  --sec-c: #FF9F1C;
  --li-pri-c: #cbeef3;
  --li-sec-c: #FFBF69;
  --wht-c: rgba(0,0,0,0.02);
  --blk-c: #323232;
}

html, body, #root {
  width: 100%;
  height: 100vh;
}

#root {
  background-color: var(--whi-c);
}

#front-page {
  overflow: hidden;
  position: relative;
}

#content {
  opacity: 0;
}

#front-page, #content {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

#front-page .bar {
  position: absolute;
  bottom:0;  
  right: 0;
  height: 28vh;
  width: 100vw;
  background-color:var(--pri-c);
  margin-right: -100vw;
  transition: margin-right 0.8s 0s ease-in-out, transform 0.2s;
}

#front-page .intro {
  position: absolute;
  bottom: 24vh;
  right:10px;
  width: 100vw;
  font-size: 20vw;
  text-align: right;
  font-family: 'Montserrat';
  font-weight: bold;
  color: var(--blk-c);
  transition: bottom 0.2s, font-size 0.2s, transform 0.2s;
}

#front-page .intro span {
  line-height: -.3rem;
}

#front-page .hey {
  position: absolute;
  bottom:23vh;
  left: -7vw;
  width: 100vw;
  font-size: 60vw;
  color: var(--li-pri-c);
  font-family: 'Montserrat';
  font-weight: bold;
  transition: all 0.2s;
}

#front-page .hey div {
  transform: rotate(-8deg);
}


@media (min-width: 1025px) {
  #front-page .hey {
    bottom:10vh;
  }

  #front-page .intro {
    bottom: 21vh;
    right: 0;
    left: auto;
    font-size: 15rem;
  }
}

@media (max-width: 1024px) and (orientation: landscape)  {
  #front-page .hey {
    bottom:3vh;
  }

  #front-page .intro {
    bottom: 15vh;
    right: 0;
    left: auto;
    font-size: 8rem;
    width: 60vw;
  }
}
