$black: #291F1E;
$crema: #CA9F66;
$white: #F6F4F3;

$yes: #4CC865;
$no: #E13936;
$warn: #F2AE40;
$info: #42979E;

$yes-dk: #37A142;
$no-dk: #D33422;
$warn-dk: #EF9D1A;
$info-dk: #306D73;

$yes-li: #73D486;
$no-li: #E56E61;
$warn-li: #FFB338;
$info-li: #6FBCC3;