@use 'colors';
@use 'breakpoints';
@use 'fonts';


.contact {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin:1rem;
    width: 100%;
  }
  
  header {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  @media (min-width: breakpoints.$md) {
    flex-direction: row;
    
    .social {
      align-self: stretch;
    }
    
    .icons {
      align-items: center;
    }
    
    .separator{
      flex-direction: column;
      align-items: center;
      
      .l {
        height: 80%;
        width: 0;
        border-top:none;
        border-left:2px solid rgba($color: colors.$black, $alpha: .2);
      }
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: stretch;
  
  .l {
    border-top:2px solid rgba($color: colors.$black, $alpha: .2);
    border-left:none;
    height: 0;
    width: 80%;
  }

  .circ {
    margin:1rem;
    flex: 1 0 75px;
    width: 75px;
    height: 75px;
    background-color: colors.$info;
    border-radius: 50%;
    font-family: fonts.$cong-fam;
    font-weight: 500;
    font-size: 1.5rem;
    color: colors.$white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social {
  flex: 1 0 250px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex: 1;
  align-items: flex-start;
  
  @media (min-width: breakpoints.$md) {
    flex-direction: column;
  }

  a {
    flex: 1;
    width: 55px;
    height: 55px;
    transition: color .2s;
    
    &.git:hover {
      color: #0366d6;
    }
    &.and:hover {
      color: #669900;
    }
    &.itch:hover {
      color: #FF2449;
    }
    &.inst:hover {
      color: #E1306C;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

form {
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 1.1rem;
  font-weight: 700;
  color: colors.$black-8;
  font-family: fonts.$prox-fam;
  align-self: center;
  
  @media (min-width: breakpoints.$md) {
    max-width: 80%;
    align-self: flex-start;
  }

  .form-group {
    flex: 1 0 100px;
    margin:.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    &.full {
      flex: auto;
      width: 100%;
    }

    input, textarea {
      padding: .4rem;
      font-family: fonts.$prox-fam;
      letter-spacing: .02rem;
      border-radius: 3px;
      border: 1px solid colors.$black-4;
      
      &.bad {
        border: 1px solid colors.$no;
      }
    }

    label {
      margin-bottom: .3rem;
    }

    small {
      font-size: .8rem;
      margin-top: .2rem;
      font-weight: 500;

      &.bad {
        color: colors.$no;
      }
    }
  }
}