@use 'colors';
@use 'breakpoints';
@use 'fonts';

.hero {
  padding: 0;
  border-radius: 8px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 3rem;
  background-color: colors.$paper;
  box-shadow: 1px 3px 8px rgba($color: colors.$black, $alpha: .05);
  transition: margin-bottom .25s .1s ease-out, 
    height .25s .1s ease-out;


  &:first-child {
    margin-top:10rem;
  }

  &.blue {
    .sec {
      background-color: colors.$info-li;
    }
  }
  &.red {
    .sec {
      background-color: colors.$no-li;
    }
  }
  &.gold {
    .sec {
      background-color: colors.$warn-li;
    }
  }
  &.green {
    .sec {
      background-color: colors.$yes-li;
    }
  }
  
  .sec {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
    min-height: 200px;
    padding: 2rem;

    svg {
      width:100%;
      max-height: 100%;
      opacity: .8;
      mix-blend-mode: multiply;
    }
  }

  &.rev{
    flex-direction: column;
    .pop {
      padding:0;
    }
  }
  .pop {
    box-sizing: border-box;
    flex: 1;
    padding: 0;
    
    article {
      opacity: 0;
    }
  }
  
  .box {
    min-height: 100%;
    
    box-sizing: border-box;
    padding: 2rem;
    box-shadow: none;
    border-radius: 0 0 8px 8px;
    transition: height .25s .1s ease-out,
      padding .25s .1s ease-out;

  }

  @media (min-width: breakpoints.$md) {
    margin-bottom: 6rem;
    flex-direction: row;
    .sec{
      flex:3;
      border-radius: 8px 0 0 8px;
    }
    .pop {
      flex:4;
    }
    &.rev{
      flex-direction: row-reverse;
      .sec{
        border-radius: 0 8px 8px 0;
      }
      .box {
        border-radius: 8px 0 0 8px;
      }
    }
    .box {
      border-radius: 0 8px 8px 0;
      padding: 4rem;
    }
  }
  @media (min-width: breakpoints.$lg) {
    margin-bottom: 10rem;
    padding:25px;
    flex-direction: row;
    box-shadow: none;
    &.blue {
        background-color: colors.$info-li;
    }
    &.red {
        background-color: colors.$no-li;
    }
    &.gold {
        background-color: colors.$warn-li;
    }
    &.green {
        background-color: colors.$yes-li;
    }
    .sec {
      flex:5;
    }
    .pop {
      flex:3;
      padding-right:7%;
    }
    .box {
      margin-top: -4rem;
      border-radius: 8px;
      box-shadow: 1px 3px 8px rgba($color: colors.$black, $alpha: .1);
      padding: 4rem;
      min-height: auto;
      background-color: colors.$paper;
    }
    &.rev{
      flex-direction: row-reverse;
      .pop {
        padding-right: 0;
        padding-left: 7%;
      }
      .box {
        border-radius: 8px;
      }
    }

    @media (min-width: breakpoints.$lg) {
      .sec {
        flex:4;
      }
    }
  }
}