@use 'colors';
@use 'breakpoints';
@use 'fonts';

.nav {
  position: fixed;
  top: 0px;
  opacity: 0;
  margin-top: -3rem;
  width: 100%;
  color: colors.$black;
  display: flex;
  justify-content: flex-start;
  z-index: 99;
  transition: margin-top .25s .1s ease-out, 
    opacity .25s .1s ease-out,
    background-color .25s .1s ease-out,
    box-shadow .25s .1s ease-out;
  
  &.bg {
    background-color: transparent;
    box-shadow: none;
    @media (min-width: breakpoints.$md) {
      background-color: colors.$paper-8;
      box-shadow: 0 2px 4px rgba($color: colors.$black, $alpha: .05);
    }
  }
  &.show {
    margin-top: 0;
    opacity: 1;
  }
  &.gutters {
      padding:0;
      @media (min-width: breakpoints.$sm + 120px) {
        padding: 0 60px;
      }
      @media (min-width: breakpoints.$md + 180px) {
        padding: 0 90px;
      }
  }

  .title {
    display: block;
    position: fixed;
    top: 3rem;
    left: 6rem;
    z-index: 20;
  }
  .title, .link {
    font-family: fonts.$cong-fam;
    font-weight: 900;
    font-size: 2rem;
    
    &.opened {
      color: colors.$paper;
    }
  }

  
  .ham, .overlay {
    position: fixed;
    box-sizing: border-box;
    padding:1rem;
    top: 2rem;
    left: 2rem;
    width: 60px;
    height: 60px;
    display:block;
    
    @media (min-width: breakpoints.$md) {
      display:none;
    }
  }
  
  .ham{
    z-index: 15;
  }
  .overlay {
    border-radius: 50%;
    background-color: colors.$paper-6;
    z-index: 10;
    transition: width .3s, height .2s, margin-top .2s, margin-left .2s;

    &.opened {
      background-color: rgba($color: colors.$black, $alpha: .98);
      border-radius: 0;
      width: 100vw;
      height: 100vh;
      margin-top: -2rem;
      margin-left: -2rem;
    }
  }
  
  .links {
    display: none;

    &.opened {
      display: block;
      position: fixed;
      top: 20vh;
      left: 1rem;
      width: 100%;
      height: 100%;
      z-index: 20;
      
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        .link {
          margin: 2rem;
          align-items: stretch;
          color: colors.$white
        }
      }
    }
  }
  
  .link {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;

    a {
      color: inherit;
      text-decoration: none;
      border-width: 0;
      transition: color .2s ease-out;
      &:visited, &:active, &:focus {
        color: inherit;
      }
      &:hover {
        color: colors.$crema;
      }
      &:active {
        color: colors.$info;
      }
    }
  }

  @media (min-width: breakpoints.$md) {
    .links {
      justify-content: flex-end;
      display:flex;
    }
    .title {
      display: block;
    }
  }

}