@use 'colors';
@use 'breakpoints';
@use 'fonts';

.nav {
  position: fixed;
  top: 0px;
  opacity: 0;
  margin-top: -3rem;
  width: 100%;
  color: colors.$black;
  display: flex;
  justify-content: flex-start;
  z-index: 99;
  transition: margin-top .25s .1s ease-out, 
    opacity .25s .1s ease-out,
    background-color .25s .1s ease-out,
    box-shadow .25s .1s ease-out;
  
  &.bg {
    background-color: colors.$paper-8;
    box-shadow: 0 2px 4px rgba($color: colors.$black, $alpha: .05);
  }
  &.show {
    margin-top: 0;
    opacity: 1;
  }
  &.gutters {
      padding:0;
      @media (min-width: breakpoints.$sm + 120px) {
        padding: 0 60px;
      }
      @media (min-width: breakpoints.$md + 180px) {
        padding: 0 90px;
      }
  }
  .title, .link {
    font-family: fonts.$cong-fam;
    font-weight: 900;
    font-size: 2rem;
  }

  .ham {
    width: 60px;
    svg {
      stroke-width: 2;
      stroke: colors.$black;
    }
  }
  
  .links {
    display: none;
  }
  
  .link {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;

    a {
      color: inherit;
      text-decoration: none;
      border-width: 0;
      transition: color .2s ease-out;
      &:visited, &:active, &:focus {
        color: inherit;
      }
      &:hover {
        color: colors.$crema;
      }
      &:active {
        color: colors.$info;
      }
    }
  }

  @media (min-width: breakpoints.$sm) {
    .links {
      justify-content: flex-end;
      display:flex;
    }
  }

}