%fill-space {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

html,
body {
  @extend %fill-space;
  background-color: colors.$white;
  overflow-x: hidden;
}

html {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#intersector {
  position: fixed;
  top:50%;
  height: 10vh;
  width: 100vw;
  background-color: royalblue;
  opacity: .5;
  z-index: 99;
}

main {
  display: block;
  align-items: center;
}

.no-scroll{
  overflow: hidden;
}

.show {
  display: block;
}

.no-show {
  display: none;
}

.fill {
  height: 100vh;
  display: flex;
  margin-top:1rem;
  justify-content: flex-end;
  flex-direction: column;

  @media (min-width: breakpoints.$sm) {
    margin-top:4rem;
  }
  @media (min-width: breakpoints.$md) {
    margin-top:8rem;
  }
}

p {
  font-family: fonts.$prox-fam;
  color: colors.$black-6;
  font-size: .6;
  line-height: 1.4rem;

  &.copy {
    color: rgba($color: colors.$black, $alpha: .3);
    font-size: .9rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: fonts.$cong-fam;
  color: colors.$black;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: .8rem;
}
h6 {
  font-size: .6rem;
}

a, a:hover, a:focus, a:visited, a:active {
  color:inherit;
  text-decoration: inherit;
}


@media (min-width: breakpoints.$sm) {
  h1, h2, h3, h4, h5, h6 {
    font-family: fonts.$cong-fam;
    color: colors.$black;
    font-weight: 700;
    margin-bottom: 1.3rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.1rem;
  }

}

b {
  font-weight: 700;
}

.gutters {
  box-sizing: border-box;
  padding: 0 25px;
  transition: padding .25s .1s ease-out;

  @media (min-width: breakpoints.$sm + 120px) {
    padding: 0 60px;
  }
  @media (min-width: breakpoints.$md + 180px) {
    padding: 0 90px;
  }
}


#root {
  @extend %fill-space;
}
.container {
  width: 100%;

  &.sm {
    max-width: breakpoints.$sm;
  }
  &.md {
    max-width: breakpoints.$md;
  }
  &.lg {
    max-width: breakpoints.$lg;
  }
}

.row{
  display: flex;
  &.c {
    flex-direction: column;
  }
  &.r {
    flex-direction: row;
  }
  &.rev {
    flex-direction: row-reverse;
  }
  &.climb {
    flex-direction: column-reverse;
  }
  &.start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
  &.top {
    align-items: flex-start;
  }
  &.mid {
    align-items: center;
  }
  &.bot {
    align-items: flex-end;
  }
  
}

.col {
  &.start {
    justify-self: flex-start;
  }
  &.center {
    justify-self: center;
  }
  &.end {
    justify-self: flex-end;
  }
  &.top {
    align-self: flex-start;
  }
  &.mid {
    align-self: center;
  }
  &.bot {
    align-self: flex-end;
  }
  &.g1 {
    flex: 1
  }
  &.g2 {
    flex: 2
  }
  &.g3 {
    flex: 3
  }
  &.g4 {
    flex: 4
  }
  &.g5 {
    flex: 5
  }
  &.g6 {
    flex: 6
  }
  &.s1 {
    flex-shrink: 1
  }
  &.s2 {
    flex-shrink: 2
  }
  &.s3 {
    flex-shrink: 3
  }
  &.s4 {
    flex-shrink: 4
  }
  &.s5 {
    flex-shrink: 5
  }
  &.s6 {
    flex-shrink: 6
  }
}

button {
  text-transform: capitalize;
  padding: 1rem;
  font-family: fonts.$cong-fam;
  letter-spacing: .08rem;
  font-size: 1.3rem;
  font-weight: 700;
  margin:1rem 0;
  width: 100%;

  &.secondary {
    color: colors.$black;
    width: auto;
    padding: 0;

    &.loading {
      color: colors.$yes-dk;
    }
    &.idle {
      filter: grayscale(100%);
      color: colors.$yes-dk;
    }
    &.good {
      color: colors.$yes;
    }
    &.bad {
      color: colors.$no;
    }
    &.warn {
      color: colors.$warn;
    }
    &.info {
      color: colors.$info;
    }
    
    &:hover {
      color: colors.$crema;
      &.good {
        color: colors.$yes-dk;
      }
      &.bad {
        color: colors.$no-dk;
      }
      &.warn {
        color: colors.$warn-dk;
      }
      &.info {
        color: colors.$info-dk;
      }
    }
    
    &:active {
      color: colors.$info;
      &.good {
        color: colors.$yes-li;
      }
      &.bad {
        color: colors.$no-li;
      }
      &.warn {
        color: colors.$warn-li;
      }
      &.info {
        color: colors.$info-li;
      }
    }
  
  }

  &.standard {
    color: colors.$paper;
    border-radius: 3px;
    transition: background-color .2s ease-out;
    
    &.loading {
      background-color: colors.$yes-dk;
    }
    &.idle {
      filter: grayscale(100%);
      background-color: colors.$yes-dk;
    }
    &.good {
      background-color: colors.$yes;
    }
    &.bad {
      background-color: colors.$no;
    }
    &.warn {
      background-color: colors.$warn;
    }
    &.info {
      background-color: colors.$info;
    }
  
    &:hover {
      &.good {
        background-color: colors.$yes-dk;
      }
      &.bad {
        background-color: colors.$no-dk;
      }
      &.warn {
        background-color: colors.$warn-dk;
      }
      &.info {
        background-color: colors.$info-dk;
      }
    }
  
    &:active {
      &.good {
        background-color: colors.$yes-li;
      }
      &.bad {
        background-color: colors.$no-li;
      }
      &.warn {
        background-color: colors.$warn-li;
      }
      &.info {
        background-color: colors.$info-li;
      }
    }
  }
}

.modal {
  position: fixed;
  top:0;
  left: 0;
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba($color: colors.$black, $alpha: .9);

  .box {
    width: 100%;
    max-width: 80%;
    max-height: 90%;
    background-color: colors.$paper;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0 3px 8px rgba($color: colors.$black, $alpha: .1);
    overflow: auto;
    
    @media (min-width: breakpoints.$sm) {
      max-width: 500px; 
    }
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: 2rem 0 3rem 0;
}