%fill-space {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

html,
body {
  @extend %fill-space;
  background-color: colors.$white;
}

.no-scroll{
  overflow: hidden;
}

.show {
  display: block;
}

.no-show {
  display: none;
}

.fill {
  height: 100vh;
  display: flex;
  margin-top:1rem;
  justify-content: flex-end;
  flex-direction: column;

  @media (min-width: breakpoints.$sm) {
    margin-top:4rem;
  }
  @media (min-width: breakpoints.$md) {
    margin-top:8rem;
  }
}

object {
  opacity: 0;
}

p {
  font-family: fonts.$prox-fam;
  color: colors.$black-6;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: fonts.$cong-fam;
  color: colors.$black;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.2rem;
}

b {
  font-weight: 700;
}

.gutters {
  box-sizing: border-box;
  padding: 0 25px;
  transition: padding .25s .1s ease-out;

  @media (min-width: breakpoints.$sm + 120px) {
    padding: 0 60px;
  }
  @media (min-width: breakpoints.$md + 180px) {
    padding: 0 90px;
  }
}


#root {
  @extend %fill-space;
}
.container {
  width: 100%;

  &.sm {
    max-width: breakpoints.$sm;
  }
  &.md {
    max-width: breakpoints.$md;
  }
  &.lg {
    max-width: breakpoints.$lg;
  }
}

.row{
  display: flex;
  &.c {
    flex-direction: column;
  }
  &.r {
    flex-direction: row;
  }
  &.rev {
    flex-direction: row-reverse;
  }
  &.climb {
    flex-direction: column-reverse;
  }
  &.start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
  &.top {
    align-items: flex-start;
  }
  &.mid {
    align-items: center;
  }
  &.bot {
    align-items: flex-end;
  }
  
}

.col {
  &.start {
    justify-self: flex-start;
  }
  &.center {
    justify-self: center;
  }
  &.end {
    justify-self: flex-end;
  }
  &.top {
    align-self: flex-start;
  }
  &.mid {
    align-self: center;
  }
  &.bot {
    align-self: flex-end;
  }
  &.g1 {
    flex-grow: 1
  }
  &.g2 {
    flex-grow: 2
  }
  &.g3 {
    flex-grow: 3
  }
  &.g4 {
    flex-grow: 4
  }
  &.g5 {
    flex-grow: 5
  }
  &.g6 {
    flex-grow: 6
  }
  &.s1 {
    flex-shrink: 1
  }
  &.s2 {
    flex-shrink: 2
  }
  &.s3 {
    flex-shrink: 3
  }
  &.s4 {
    flex-shrink: 4
  }
  &.s5 {
    flex-shrink: 5
  }
  &.s6 {
    flex-shrink: 6
  }
}

button {
  &.standard {
    text-transform: capitalize;
    padding: 1rem;
    color: colors.$paper;
    font-family: fonts.$cong-fam;
    font-size: 1.3rem;
    letter-spacing: .12rem;
    font-weight: 700;
    border-radius: 3px;
    margin:1rem 0;
    width: 100%;
    transition: background-color .2s ease-out;
    
    &.good {
      background-color: colors.$yes;
    }
    &.bad {
      background-color: colors.$no;
    }
    &.warn {
      background-color: colors.$warn;
    }
    &.info {
      background-color: colors.$info;
    }
  
    &:hover {
      &.good {
        background-color: colors.$yes-dk;
      }
      &.bad {
        background-color: colors.$no-dk;
      }
      &.warn {
        background-color: colors.$warn-dk;
      }
      &.info {
        background-color: colors.$info-dk;
      }
    }
  
    &:active {
      &.good {
        background-color: colors.$yes-li;
      }
      &.bad {
        background-color: colors.$no-li;
      }
      &.warn {
        background-color: colors.$warn-li;
      }
      &.info {
        background-color: colors.$info-li;
      }
    }
  }

}