#root, html,
body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

html,
body {
  background-color: #F6F4F3;
  overflow-x: hidden;
}

html {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-scroll {
  overflow: hidden;
}

.show {
  display: block;
}

.no-show {
  display: none;
}

.fill {
  height: 100vh;
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
  flex-direction: column;
}
@media (min-width: 540px) {
  .fill {
    margin-top: 4rem;
  }
}
@media (min-width: 720px) {
  .fill {
    margin-top: 8rem;
  }
}

p {
  font-family: "proxima-nova", sans-serif;
  color: rgba(41, 31, 30, 0.6);
  font-size: 0.6;
  line-height: 1.4rem;
}
p.copy {
  color: rgba(41, 31, 30, 0.3);
  font-size: 0.9rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "congenial", sans-serif;
  color: #291F1E;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

a, a:hover, a:focus, a:visited, a:active {
  color: inherit;
  text-decoration: inherit;
}

@media (min-width: 540px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "congenial", sans-serif;
    color: #291F1E;
    font-weight: 700;
    margin-bottom: 1.3rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 1.8rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
  }
}
b {
  font-weight: 700;
}

.gutters {
  box-sizing: border-box;
  padding: 0 25px;
  transition: padding 0.25s 0.1s ease-out;
}
@media (min-width: 660px) {
  .gutters {
    padding: 0 60px;
  }
}
@media (min-width: 900px) {
  .gutters {
    padding: 0 90px;
  }
}

.container {
  width: 100%;
}
.container.sm {
  max-width: 540px;
}
.container.md {
  max-width: 720px;
}
.container.lg {
  max-width: 1024px;
}

.row {
  display: flex;
}
.row.c {
  flex-direction: column;
}
.row.r {
  flex-direction: row;
}
.row.rev {
  flex-direction: row-reverse;
}
.row.climb {
  flex-direction: column-reverse;
}
.row.start {
  justify-content: flex-start;
}
.row.center {
  justify-content: center;
}
.row.end {
  justify-content: flex-end;
}
.row.top {
  align-items: flex-start;
}
.row.mid {
  align-items: center;
}
.row.bot {
  align-items: flex-end;
}

.col.start {
  justify-self: flex-start;
}
.col.center {
  justify-self: center;
}
.col.end {
  justify-self: flex-end;
}
.col.top {
  align-self: flex-start;
}
.col.mid {
  align-self: center;
}
.col.bot {
  align-self: flex-end;
}
.col.g1 {
  flex: 1;
}
.col.g2 {
  flex: 2;
}
.col.g3 {
  flex: 3;
}
.col.g4 {
  flex: 4;
}
.col.g5 {
  flex: 5;
}
.col.g6 {
  flex: 6;
}
.col.s1 {
  flex-shrink: 1;
}
.col.s2 {
  flex-shrink: 2;
}
.col.s3 {
  flex-shrink: 3;
}
.col.s4 {
  flex-shrink: 4;
}
.col.s5 {
  flex-shrink: 5;
}
.col.s6 {
  flex-shrink: 6;
}

button {
  text-transform: capitalize;
  padding: 1rem;
  font-family: "congenial", sans-serif;
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0;
  width: 100%;
}
button.secondary {
  color: #291F1E;
  width: auto;
  padding: 0;
}
button.secondary.loading {
  color: #37A142;
}
button.secondary.idle {
  filter: grayscale(100%);
  color: #37A142;
}
button.secondary.good {
  color: #4CC865;
}
button.secondary.bad {
  color: #E13936;
}
button.secondary.warn {
  color: #F2AE40;
}
button.secondary.info {
  color: #42979E;
}
button.secondary:hover {
  color: #CA9F66;
}
button.secondary:hover.good {
  color: #37A142;
}
button.secondary:hover.bad {
  color: #D33422;
}
button.secondary:hover.warn {
  color: #EF9D1A;
}
button.secondary:hover.info {
  color: #306D73;
}
button.secondary:active {
  color: #42979E;
}
button.secondary:active.good {
  color: #73D486;
}
button.secondary:active.bad {
  color: #E56E61;
}
button.secondary:active.warn {
  color: #FFB338;
}
button.secondary:active.info {
  color: #6FBCC3;
}
button.standard {
  color: #FFFFFF;
  border-radius: 3px;
  transition: background-color 0.2s ease-out;
}
button.standard.loading {
  background-color: #37A142;
}
button.standard.idle {
  filter: grayscale(100%);
  background-color: #37A142;
}
button.standard.good {
  background-color: #4CC865;
}
button.standard.bad {
  background-color: #E13936;
}
button.standard.warn {
  background-color: #F2AE40;
}
button.standard.info {
  background-color: #42979E;
}
button.standard:hover.good {
  background-color: #37A142;
}
button.standard:hover.bad {
  background-color: #D33422;
}
button.standard:hover.warn {
  background-color: #EF9D1A;
}
button.standard:hover.info {
  background-color: #306D73;
}
button.standard:active.good {
  background-color: #73D486;
}
button.standard:active.bad {
  background-color: #E56E61;
}
button.standard:active.warn {
  background-color: #FFB338;
}
button.standard:active.info {
  background-color: #6FBCC3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(41, 31, 30, 0.9);
}
.modal .box {
  width: 100%;
  max-width: 80%;
  max-height: 90%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 3px 8px rgba(41, 31, 30, 0.1);
  overflow: auto;
}
@media (min-width: 540px) {
  .modal .box {
    max-width: 500px;
  }
}

footer {
  width: 100%;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

.nav {
  position: fixed;
  top: 0px;
  opacity: 0;
  margin-top: -3rem;
  width: 100%;
  color: #291F1E;
  display: flex;
  justify-content: flex-start;
  z-index: 99;
  transition: margin-top 0.25s 0.1s ease-out, opacity 0.25s 0.1s ease-out, background-color 0.25s 0.1s ease-out, box-shadow 0.25s 0.1s ease-out;
  padding: 10px 90px;
  pointer-events: none;
}
.nav.bg {
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 720px) {
  .nav.bg {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(41, 31, 30, 0.05);
  }
}
.nav.show {
  pointer-events: inherit;
  margin-top: 0;
  opacity: 1;
}
.nav.gutters {
  padding: 0;
}
@media (min-width: 660px) {
  .nav.gutters {
    padding: 10px 60px;
  }
}
@media (min-width: 900px) {
  .nav.gutters {
    padding: 10px 90px;
  }
}
.nav .title {
  display: block;
  position: fixed;
  top: 3rem;
  left: 6rem;
  z-index: 20;
}
.nav .title .link {
  margin: 10px;
}
@media (min-width: 720px) {
  .nav .title {
    position: inherit;
    top: 0;
    left: 0;
  }
}
.nav .title, .nav .link {
  font-family: "congenial", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}
.nav .title.opened, .nav .link.opened {
  color: #FFFFFF;
}
.nav .ham, .nav .overlay {
  position: fixed;
  box-sizing: border-box;
  padding: 1rem;
  top: 2rem;
  left: 2rem;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0;
}
@media (min-width: 720px) {
  .nav .ham, .nav .overlay {
    display: none;
  }
}
.nav .ham {
  z-index: 15;
}
.nav .overlay {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  transition: width 0.3s, height 0.2s, margin-top 0.2s, margin-left 0.2s;
}
.nav .overlay.opened {
  background-color: rgba(41, 31, 30, 0.9);
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  margin-top: -2rem;
  margin-left: -2rem;
}
.nav .links {
  display: none;
}
.nav .links .link {
  margin: 10px;
}
.nav .links.opened {
  display: block;
  position: fixed;
  top: 8rem;
  left: 1.3rem;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.nav .links.opened div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.nav .links.opened div .link {
  margin: 2rem;
  align-items: stretch;
  color: #F6F4F3;
  letter-spacing: 0.05rem;
  font-size: 2rem;
}
.nav .link {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav .link a {
  color: inherit;
  text-decoration: none;
  border-width: 0;
  transition: color 0.2s ease-out;
}
.nav .link a:visited, .nav .link a:active, .nav .link a:focus {
  color: inherit;
}
.nav .link a:hover {
  color: #CA9F66;
}
.nav .link a:active {
  color: #42979E;
}
@media (min-width: 720px) {
  .nav .links {
    justify-content: flex-end;
    display: flex;
  }
  .nav .title {
    display: block;
  }
}

.hero {
  padding: 0;
  border-radius: 8px;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 3rem;
  background-color: #FFFFFF;
  box-shadow: 1px 3px 8px rgba(41, 31, 30, 0.05);
  transition: margin-bottom 0.25s 0.1s ease-out, height 0.25s 0.1s ease-out;
}
.hero:first-child {
  margin-top: 10rem;
}
.hero.blue .sec {
  background-color: #6FBCC3;
}
.hero.red .sec {
  background-color: #E56E61;
}
.hero.gold .sec {
  background-color: #FFB338;
}
.hero.green .sec {
  background-color: #73D486;
}
.hero .sec {
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  min-height: 200px;
  padding: 2rem;
}
.hero .sec svg {
  width: 100%;
  max-height: 100%;
  opacity: 0.8;
  mix-blend-mode: multiply;
}
.hero.rev {
  flex-direction: column;
}
.hero.rev .pop {
  padding: 0;
}
.hero .pop {
  box-sizing: border-box;
  flex: 1;
  padding: 0;
}
.hero .pop article {
  opacity: 0;
}
.hero .box {
  min-height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  box-shadow: none;
  border-radius: 0 0 8px 8px;
  transition: height 0.25s 0.1s ease-out, padding 0.25s 0.1s ease-out;
}
@media (min-width: 720px) {
  .hero {
    margin-bottom: 6rem;
    display: flex;
    flex-direction: row;
  }
  .hero .sec {
    flex: 3;
    border-radius: 8px 0 0 8px;
  }
  .hero .pop {
    flex: 4;
  }
  .hero.rev {
    flex-direction: row-reverse;
  }
  .hero.rev .sec {
    border-radius: 0 8px 8px 0;
  }
  .hero.rev .box {
    border-radius: 8px 0 0 8px;
  }
  .hero .box {
    border-radius: 0 8px 8px 0;
    padding: 4rem;
  }
}
@media (min-width: 1024px) {
  .hero {
    margin-bottom: 10rem;
    padding: 25px;
    flex-direction: row;
    box-shadow: none;
  }
  .hero.blue {
    background-color: #6FBCC3;
  }
  .hero.red {
    background-color: #E56E61;
  }
  .hero.gold {
    background-color: #FFB338;
  }
  .hero.green {
    background-color: #73D486;
  }
  .hero .sec {
    flex: 5;
  }
  .hero .pop {
    flex: 3;
    padding-right: 7%;
  }
  .hero .box {
    margin-top: -4rem;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(41, 31, 30, 0.1);
    padding: 4rem;
    min-height: auto;
    background-color: #FFFFFF;
  }
  .hero.rev {
    flex-direction: row-reverse;
  }
  .hero.rev .pop {
    padding-right: 0;
    padding-left: 7%;
  }
  .hero.rev .box {
    border-radius: 8px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .hero .sec {
    flex: 4;
  }
}

.work-item {
  height: auto;
  position: relative;
  margin: 3.5rem 0;
  box-sizing: border-box;
}
.work-item .img {
  position: relative;
  z-index: 2;
  transition: filter 0.4s ease-out, transform 0.4s ease-out, opacity 0.4s ease-out;
  filter: grayscale(100%) contrast(30%);
  opacity: 0.5;
  margin-bottom: 1rem;
}
.work-item .img img {
  width: 100%;
}
.work-item .circ {
  transition: filter 0.4s, transform 0.4s;
  position: absolute;
  z-index: -1;
  top: -15vw;
  left: -15vw;
  width: 30vw;
  height: 30vw;
  transform-origin: center;
  opacity: 0.6;
  filter: grayscale(100%);
  border-radius: 999px;
}
.work-item .circ.blue {
  background-color: #6FBCC3;
}
.work-item .circ.green {
  background-color: #73D486;
}
.work-item .circ.red {
  background-color: #E56E61;
}
.work-item .circ.gold {
  background-color: #FFB338;
}
.work-item section {
  position: relative;
  z-index: 4;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.work-item section article {
  position: relative;
  flex: 1;
  align-self: flex-start;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 3px;
  transition: opacity 0.4s;
  box-shadow: 0 0 10px rgba(41, 31, 30, 0.1);
}
.work-item section article header {
  position: relative;
  z-index: 0;
}
.work-item section article header svg {
  position: absolute;
  top: -52.5px;
  left: -47.5px;
  width: 75px;
  height: 75px;
  transform-origin: center;
  transform: rotateZ(-15deg);
  z-index: -1;
}
.work-item section article header svg .neg {
  fill: #42979E;
}
.work-item section article header svg .pos {
  fill: #FFFFFF;
}
.work-item.show .circ {
  filter: grayscale(0%);
  transform: scale(3);
}
.work-item.show .img {
  filter: grayscale(0%) contrast(100%) drop-shadow(0 0.25rem 2px rgba(41, 31, 30, 0.3));
  transform: translateY(-0.5rem) scale(1.02);
  opacity: 1;
}
@media (min-width: 840px) {
  .work-item.show .img {
    transform: translateX(0.5rem) translateY(-0.5rem);
  }
  .rev.show .work-item.show .img {
    transform: translateX(-0.5rem) translateY(-0.5rem);
  }
}
.work-item.rev .img {
  order: 0;
}
@media (min-width: 840px) {
  .work-item.rev .img {
    transform-origin: top right;
    order: 1;
  }
}
.work-item.rev .circ {
  left: auto;
  right: -100px;
}
@media (min-width: 1144px) {
  .work-item {
    margin-left: 0;
    margin-right: 0;
  }
  .work-item .img {
    flex: 2;
  }
}
@media (min-width: 660px) {
  .work-item section article {
    padding: 4rem;
  }
}
@media (min-width: 840px) {
  .work-item {
    margin-left: 2rem;
    margin-right: 2rem;
    margin: 8rem 0;
  }
  .work-item .circ {
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
  }
  .work-item .img {
    transform-origin: top left;
    transform: scale(0.6);
    flex: 1;
    margin-bottom: 0;
  }
  .work-item section {
    flex-direction: row;
  }
  .work-item section article {
    padding: 2rem;
    padding-top: 0;
    position: static;
    max-width: 450px;
    background-color: transparent;
    box-shadow: none;
    margin-left: 2rem;
  }
  .rev .work-item section article {
    margin-right: 2rem;
  }
}

.contact {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact button {
  margin: 1rem;
  width: 100%;
}
.contact header {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 720px) {
  .contact {
    flex-direction: row;
  }
  .contact .social {
    align-self: stretch;
  }
  .contact .icons {
    align-items: center;
  }
  .contact .separator {
    flex-direction: column;
    align-items: center;
  }
  .contact .separator .l {
    height: 80%;
    width: 0;
    border-top: none;
    border-left: 2px solid rgba(41, 31, 30, 0.2);
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.separator .l {
  border-top: 2px solid rgba(41, 31, 30, 0.2);
  border-left: none;
  height: 0;
  width: 80%;
}
.separator .circ {
  margin: 1rem;
  flex: 1 0 75px;
  width: 75px;
  height: 75px;
  background-color: #42979E;
  border-radius: 50%;
  font-family: "congenial", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #F6F4F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  flex: 1 0 250px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  flex: 1;
  align-items: flex-start;
}
@media (min-width: 720px) {
  .icons {
    flex-direction: column;
  }
}
.icons a {
  flex: 1;
  width: 55px;
  height: 55px;
  transition: color 0.2s;
}
.icons a.git:hover {
  color: #0366d6;
}
.icons a.and:hover {
  color: #669900;
}
.icons a.itch:hover {
  color: #FF2449;
}
.icons a.inst:hover {
  color: #E1306C;
}
.icons a svg {
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
  max-height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(41, 31, 30, 0.8);
  font-family: "proxima-nova", sans-serif;
  align-self: center;
}
@media (min-width: 720px) {
  form {
    max-width: 80%;
    align-self: flex-start;
  }
}
form .form-group {
  flex: 1 0 100px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
form .form-group.full {
  flex: auto;
  width: 100%;
}
form .form-group input, form .form-group textarea {
  padding: 0.4rem;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 0.02rem;
  border-radius: 3px;
  border: 1px solid rgba(41, 31, 30, 0.4);
}
form .form-group input.bad, form .form-group textarea.bad {
  border: 1px solid #E13936;
}
form .form-group label {
  margin-bottom: 0.3rem;
}
form .form-group small {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  font-weight: 500;
}
form .form-group small.bad {
  color: #E13936;
}

/*# sourceMappingURL=main.css.map */
